.PersonBox
{
    display: block;
    width: 120px;
    font-size: 16px;
    border: 1px solid #000;
    float:left;
    margin:20px;
    padding: 20px;
    
}

.PersonRedBox
{
    display: block;
    width: 120px;
    font-size: 16px;
    border: 1px solid red;
    float:left;
    margin:20px;
    padding: 20px;
    
}