.AdditionError
{
    display: block;
    border:1px solid red;
    background-color: lightcoral;
    color:red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;;

}